/*
html{
	background-color: black;
	background-image: url("imagens/templario1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
*/
/* No aruivo css este é o conteúdo que mais nos interessa */
.fullheight {
  /*com isso o header ficará sempre com o tamanho da tela */
  height: 100vh;
  /*background geralmente uso o modo compacto, mas aqui vou colocar separadamente para explicar cada parte*/
  /* aqui defino a imagem maior*/
  /* Tamanho da imagem: 2000px; */
  background-image: url("imagens/templario1.png");
  /*deixa o background com efeito paralax*/
  background-attachment: fixed;
  /* cover é para nunca deixar espaço sem imagem*/
  background-size: cover;
}
/* aqui troco a imagem pra cada resolução na ordem do maior pro menor */
@media screen and (max-width: 1500px) {
  .body.fullheight {
  	/* Tamanho da imagem: 1500px; */
    background-image: url("imagens/templario1.png");
  }
}
@media screen and (max-width: 1000px) {
  .body.fullheight {
  	/* Tamanho da imagem: 1000px; */
    background-image: url("imagens/templario1.png");
  }
}
@media screen and (max-width: 800px) {
  .body.fullheight {
  	/* Tamanho da imagem: 800px; */
    background-image: url("imagens/templario1.png");
  }
}
@media screen and (max-width: 600px) {
  .body.fullheight {
  	/* Tamanho da imagem: 600px; */
    background-image: url("imagens/templario1.png");
  }
}
@media screen and (max-width: 400px) {
  .body.fullheight {
  	/* Tamanho da imagem: 400px; */
    background-image: url("imagens/templario1.png");
  }
}
@media screen and (max-width: 320px) {
  .fullheight {
  	/* Tamanho da imagem: 320px; */
    background-image: url("imagens/templario1.png");
  }
}

#formulario{
	width: 500px;
	height: 270px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -135px;
	font-size: 30px;

	filter:alpha(opacity=70);
	opacity: 0.7;
	-moz-opacity:0.7;
	-webkit-opacity:0.7;
}

#formulario input{
	font-size: 30px;
}

#entrar{
	width: 100%;
}